<div style="display: flex; flex-direction: column; align-items: center;">

    <div>

        <div class="svgBox">
            <img height="30px" src="https://metamask.io/images/mm-logo.svg" alt="">
        </div>

    </div>


    <div class="flex flex-c padding">

        <div class="title">
            <h3>New to MetaMask?</h3>
        </div>

        <div class="contentBoxMeta flex" style="flex-wrap: wrap;">

            <div class="selectBoxMeta">

                <div class="TextSvg">
                    <svg fill="none" height="40" width="40" xmlns="http://www.w3.org/2000/svg"><g fill="#979797"><rect height="4.571" rx="2.286" transform="rotate(180 40 40)" width="40" x="40" y="40"></rect><rect height="21.714" rx="2.051" transform="rotate(180 22.564 21.714)" width="4.103" x="22.564" y="21.714"></rect><path d="M20.5 30L7.077 12h26.846z"></path></g></svg>


                    <h5>No, I already have a seed phrase</h5>

                    <p class="grayText">Import your existing wallet using a 12 word seed phrase</p>

                </div>

                <button (click)="goToStart()" type="button" class="btn btn-primary bt btn-blue">Get Started</button>

            </div>


            <div class="selectBoxMeta">

                <div class="TextSvg">
                    <svg fill="none" height="40" width="40" xmlns="http://www.w3.org/2000/svg"><g fill="#979797"><rect height="4" rx="2" width="40" y="18"></rect><rect height="40" rx="2" width="4" x="18"></rect></g></svg>


                    <h5>Yes, let's get set up!</h5>

                    <p class="grayText">This will create a new wallet and seed phrase</p>
                </div>

                <button style="opacity: 0.6; background-color: #006ec9 !important;
                color: white;
                cursor: pointer;
                border-radius: 0.25rem;" type="button" class="disabled btn btn-primary">Not available for referrals.</button>

            </div>

        </div>

    </div>


</div>