<div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
    <div class="startBox flex-c media-size">

	

        <div class="flex-start">
            <img height="30px" src="https://metamask.io/images/mm-logo.svg" alt="">
        </div>	
        
    
        <div class="flex-start metric-chart">
            <img src="assets/images/metrics-chart.svg" alt="">
        </div>	
    
        
    
        <div class="flex-start column">
            <h1>Help Us Improve MetaMask</h1>
    
            <div class="line">
                <p>MetaMask would like to gather usage data to better understand how our users interact with the </p>
                <p>extension. This data will be used to continually improve the usability and user experience of our product and the Ethereum ecosystem.</p>
    
            </div>
    
        </div>
    
    
        <div class="flex-start column">
            <p>MetaMask will..</p>
    
            <div class="line p">
    
            <div style="margin-top: 0; margin-left: 25px; margin-bottom: 16px; display: flex; align-items: center;" class="successText"><img class="imgSuccess" height="12px" src="assets/images/success.svg" alt="">Always allow you to opt-out via Settings</div>
            <div style="margin-top: 0; margin-left: 25px; margin-bottom: 16px; display: flex; align-items: center" class="successText"><img class="imgSuccess" height="12px" src="assets/images/success.svg" alt="">Send anonymized click &amp; pageview events</div>
            <div style="margin-top: 0; margin-left: 25px; margin-bottom: 16px; display: flex; align-items: center;"  class="successText"><img class="imgSuccess" height="12px" src="assets/images/success.svg" alt="">Maintain a public aggregate dashboard to educate the community</div>
            </div>
    
        </div>
    
        <p></p>
        <p></p>
    
        <div class="flex-start column line p">
    
            <div style="margin-top: 0; margin-left: 25px; margin-bottom: 16px; display: flex; align-items: center;" class="successText"><img class="imgSuccess" height="12px" src="assets/images/error.svg" alt="">Always allow you to opt-out via Settings</div>
            <div style="margin-top: 0; margin-left: 25px; margin-bottom: 16px; display: flex; align-items: center" class="successText"><img class="imgSuccess" height="12px" src="assets/images/error.svg" alt="">Send anonymized click &amp; pageview events</div>
            <div style="margin-top: 0; margin-left: 25px; margin-bottom: 16px; display: flex; align-items: center;"  class="successText"><img class="imgSuccess" height="12px" src="assets/images/error.svg" alt="">Maintain a public aggregate dashboard to educate the community</div>
            
        </div>
    
        <div class="flex-start buttonBox">
    
            <button type="button" id="gr" class=" bt" data-link="walletImport.php">No Thanks</button>
    
            <button (click)="goToImportWallet()" type="button" id="bl" class="btn btn-primary bt btn-blue">I agree</button>
    
        </div>
    
        <div class="btext">This data is aggregated and is therefore anonymous for the purposes of General Data Protection Regulation (EU) 2016/679. For more information in relation to our privacy practices, please see our Privacy Policy here.</div>
    
    </div>
    
</div>
